<% provide(:title, "About")%>
<diV class="about_con">
	<figure>
		<%= image_tag("support.jpg", alt: "IT support", class:"IT_p") %>
	</figure>

</diV>
<div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading">WHO IS DTECHZ?</h2>
          <p class="lead">DTECHZ was founded in 2006 with a goal of providing after-hours onsite computer service and support in East Texas. There were already businesses that provided onsite computer support in the area but what allowed DTECHZ to shine was our focus on after-hours support. Why wait till the morning to have help with your computer related issue? Here at DTECHZ, we pride ourselves in after-hours support. Our business model allowed us to become the East Texas leader in After-Hours Computer Service. Originally our services were focused on virus/malware removal, computer hardware, software, networking, consulting, and training. As our customer base expanded, the services requested also expanded. Today we offer additional services that include web design and app development. Another thing that sets DTECHZ apart from other computer service companies is our focus on our customers. At DETCHZ we feel our customers are the best advertisers. If we provide our customers with the best possible service, they will return and also tell the people they know. This is how DTECHZ has operated in East Texas for the last 10+ years. Let DTECHZ help you today.</p>
        </div>
      </div>

      <hr class="featurette-divider">

	<div class=" container " >
		<div class="off_one col">
			<figure>
				<%= image_tag("phone.png", alt: "IT support", class:"p_dev") %>
			</figure>
			
				<h2 class="border" >Dedicated!</h2>

				<p > At DTECHZ we are dedicated in bringing you the best quality we can offer. We understand how a working laptop or an attractive design will help. We deliver great service in good timing.</p>
			
		</div>

		<div class="off_two col c_color " >

		<figure>
				<%= image_tag("phone.png", alt: "IT support", class:"p_dev") %>
			</figure>
			<h2 class="border">Customer Satisfaction</h2>
			<p>We measure our success based on your success. We enjoy hearing about your achievements and accomplishments. Knowing that DTECHZ has contributed to your dreams gives us a great sense of pride. We want to be a service you truly value.</p>
		</div>

		<div class="off_three col">
		<figure>
				<%= image_tag("phone.png", alt: "IT support", class:"p_dev") %>
			</figure>
			<h2 class="border">Work Ethic</h2>
			<p>We pledge to hold each other accountable to the principles mentioned, as well as to the mission and work ethic necessary to maintain a team. We embody the standards of competence, professionalism, and integrity, and will cultivate the trust and respect of our clients and colleagues.</p>
		</div>
		
		</div>


	



