
<% provide(:title, "Home")%>

	<div>
	<div class="nav-container">
		<div id="myCarousel" class="carousel slide slide_pos" data-ride="carousel">
  <!-- Indicators -->
			  
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">

			  <div class="item active">
			      <%= image_tag("dtechz_logo.png", alt: "IT support", class: "logo_img ") %>
			    </div>

			  <div class="item ">
			      <%= image_tag("web_dev_banner.png", alt: "IT support", class: "web_img ") %>
			    </div>

			    

			    <div class="item">
			      <%= image_tag("webdesign.png", alt: "IT support", class: "mobile_img ") %>
			    </div>

			   
			  </div>
			  <!-- Left and right controls -->
			  
								
		</div>
	</div>
<div class="container">
	<div class="home_info ">
	<h1>WHY CHOOSE DTECHZ?</h1>
	<p>DTECHZ has been serving East Texas and the surrounding area for over 10 years. Our experienced team of developers and computer techs can handle just about any tech question, development request, website design, or computer repair that comes our way.</p>
	</div>
</div>
</div>
