<% provide(:title, "Services")%>

<div class="banner">
<figure>
				<%= image_tag("dtechz_D.png", alt: "IT support", class:"img_ser") %>
	</figure>
	<h1>WHAT SERVICES CAN WE PROVIDE?</h1>
</div>

<div class="container clearflix">
	<div class="ser_com">
		<figure>
				<%= image_tag("computer.jpg", alt: "IT support", class:"img_ser m_img") %>
		</figure>
		<h2>Computer Services</h2>
		<ul>
			<li>Computer Repair</li>
			<li>Virus Removal</li>
			<li>Networking</li>
			<li>Consulting</li>
			<li>Training</li>
		</ul>
	</div>
	<div class="ser_web c_color">
	<figure>
				<%= image_tag("web.gif", alt: "IT support", class:"img_ser m_img") %>
	</figure>
		
		<h2>Website Services</h2>
		<ul>
			<li>Web Design</li>
			<li>Web Hosting</li>
		</ul>
		
	</div>
	<div class="ser_dev">
	<figure>
				<%= image_tag("development.png", alt: "IT support", class:"img_ser") %>
	</figure>
		<h2>Development Services</h2>
		<ul>
			<li>Web Application</li>
			<li>Mobile Application</li>
			<li>Node.JS Application</li>
		</ul>
	</div>
</div>