@import "bootstrap-sprockets";
@import "bootstrap";

/*---colors-----


#A3D249
#BBDB7B
#5B5959
#F1F1F1
#FFFFFF
#333333
#000000


*/

*{
  box-sizing: border-box;
}

body {
 padding-top: 50px;
 padding-left: 0;
 background: #f1f1f1; 
 margin: 0;
 


 
 }
 html{
  margin: 0;
  padding: 0;
  height: 100%;
 }



textarea{
	resize: vertical;
}

.center{
	text-align: center;

}
.center h1{
	margin-bottom: 10px;
  
}

h1, h2{
  color: #A3D249; 
}




/** nav bar**/
header{
  width:auto;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #A3D249;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-weight: bold;
  padding-left: 9px;
  &:hover {
    color: #333;
    text-decoration: none;

  }
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #A3D249;
}




.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 8px;
    

}
.navbar-inverse .navbar-nav > li > a {
    color: #f1f1f1;
    &:hover {
    color: #A3D249;
    text-decoration: none;

  }
}


/*-------------
footer
--------*/

.main-footer{
 background: #333333;
  padding-top: 10px;
   height: 55px;
  text-align: center;
  color: #fff;
  border-top-style:solid;
  border-color: #A3D249;
  border-width: 6px;
  margin-bottom: 0px;



}





/*-------------
contact page
--------*/



.contact h1{
  margin: auto;
  text-align: center;
 
  font-size: 60px;
color:  #A3D249;
font-weight: bolder;
border-bottom: solid;
  
width: 40%;
}

.contact{
  color: #fff;
  background: #333;
 height: 325px;
  padding: 3.2em 0;

  text-align: center;
  border-bottom: solid;
  border-color: #A3D249;
  border-width: 10px;
  margin-bottom: 20px;

}
.img_contact{
  height: 170px;
  width: 170px;
  
  padding-top: 10px;
  margin-bottom: 15px;


}

.contact_info{
    width: 80%;
  height: 500px;
  background-color:#333333 ;
  color: white;
 
  
 
  
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  
  margin: auto;
  margin-bottom: 30px;
  padding: 8%;
}


.contact_info p{
  font-weight: bolder;
  font-size: 35px;

}

#slash{
  font-size: 40px;

}
#slash a{
  color:#A3D249 ;

}






/*-------------
About page
--------*/
.about_con{
color: #fff;
  background: #333;
 height: 325px;
  padding: 3.2em 0;

  text-align: center;
  border-bottom: solid;
  border-color: #A3D249;
  border-width: 10px;
  margin-bottom: 20px;
}
.IT_p{
 width: 80%;
  height: 250px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;

}

.c_color{
  
  background-size: 100% 400px;
  background-color:  #5B5959;
  
  background-position: top ;


}

.col{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: solid;
  border-color: #A3D249;
  border-width: 10px;

}
.col p{
  margin: 20px;
}

.container{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
    padding-right: 0;

}

.off_two{
  width: 100%;
  

}
.off_two p {
  color: white;
}

.off_one{
 width: 100%;
}



.off_three{
 width: 100%;
 border-bottom: none;

}

.about_mob{
  padding: 10px;
  background-color:#5B5959 ;
  color: #fff;
  border-bottom: solid;
  border-bottom-color: #A3D249;
  border-width: 10px;
  margin:auto;


}












/*---------------
SERVICE PAGE
----------------*/
.p_dev{
  border-radius: 100%;
  padding-bottom: 10px;
  padding-top: 15px;
 
}
.banner{
  color: #fff;
  background: #333;
  height: 325px;
  padding: 3.2em 0;
  margin-bottom: 60px;
  text-align: center;
  border-bottom: solid;
  border-color: #A3D249;
  border-width: 10px;

}

.container ul li{
  text-align: left;
 list-style-type: none;
 font-size: 18px;

}

.container ul li::before {content: "•"; color: #A3D249;
  display: inline-block; width: 30px;
  margin-left: -1em
}

.img_ser{
  height: 200px;
  width: 200px;
  border-radius: 100%;
  padding-top: 10px;
  margin-bottom: 5px;


}


.ser_com{
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: #A3D249;
  border-width: 10px;
   color: #333333;
   font-weight: bolder;
}

.ser_web{
  padding-bottom: 30px;
  border-bottom: solid;
  border-color: #A3D249;
  border-width: 10px;
   color: #fff;
   font-weight: bolder;
}

.ser_dev{
  padding-bottom: 30px;
  
  color: #333333;
  font-weight: bolder;

}
  







/* CONTENT
-------------------------------------------------- */

/* Center align the text */
.content .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.content h2 {
  font-weight: normal;
}
.content .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0;
}

/* Thin out the headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}



/*-------------
Media querries
--------*/


@media (min-width: 900px)
{

  

  .container_about{
    width: 100%;
    height: 500px;
  
  background-color:#333333 ;
  color: white;
  border-bottom: solid;
  border-top: solid;
  
  border-width: 10px;
  border-color: #A3D249;
  
  
  
  margin: auto;
  margin-bottom: 20px;
  padding: 10px;

  }

 

  .about_mob{

    width: 60%;
  padding: 10px;
  background: none;
  
 float: left;
  color: #fff;
  border-bottom: none;

  

}




 
.col{
  
  border-bottom: none;
}

  


/*---float content--*/



.off_two{
  width: 32%;
  height: 600px;
  background-color: #000;
  color: white;
  float: left;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.off_one, .off_three{
  width: 30%;
  height: 600px;
  background-color: #000;
  color: white;
  float: left;
  padding-bottom: 10px;
  margin-top: 20px;
margin-left: 20px;
margin-bottom: 20px;
box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.border{
  border-bottom:  2px solid #333333;
  display: inline;
  
}

}


@media (min-width: 950px) {
  /*---------------
service page
----------------*/




.ser_com
{
  width: 30%;
  height: 500px;
  background-color:#333333 ;
  color: white;
  border-style: none;
 
  
  
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  float: left;
  margin-left: 30px;
 
  
}
 .ser_dev
{
  width: 30%;
  height: 500px;
  background-color:#333333 ;
  color: white;
  border-style: none;
 
  
  
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
 
  
}
.ser_web{
  width: 32%;
  height: 500px;
  background-color:#333333 ;
  color: white;
  
  float: left;
  margin-left:  20px;
border-style: none;
 
  
  
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin-bottom: 30px;

}

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }

  figure {
  margin: 0;
  line-height: 0;
  position: relative;

}

.m_img{
    float: none;
  }

}

