@import "bootstrap-sprockets";
@import "bootstrap";

/*---colors-----


#A3D249
#BBDB7B
#5B5959
#F1F1F1
#FFFFFF
#333333
#000000


*/



body {
 padding-top: 50px;
 padding-left: 0;
 background: #f1f1f1; 


 
 }

textarea{
	resize: vertical;
}

.center{
	text-align: center;

}
.center h1{
	margin-bottom: 10px;
  
}

h2{
  color: #A3D249;
}



/** nav bar**/
header{
  width:auto;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #A3D249;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  padding-left: 9px;
  &:hover {
    color: white;
    text-decoration: none;

  }
}


.navbar-inverse{
  background-color: #333333;
}
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}



/*-------------
contact page
--------*/

.contact form h1{
  margin: 0 0 30px 0;
  text-align: center;
  border-bottom: solid;
color: #fff;

}

form{
  
  background:  #333333;
  border-radius: 8px;

  margin: 10px auto;
   max-width: 400px;
  padding: 10px 20px;
  


}

label{
color: #A3D249;

}

input[type="text"],input[type="email"],textarea{
  background: #f1f1f1;
  border:none;
  color: #333;
  margin: 0;
  margin-bottom: 25px;
  padding: 10px;
  width:100%;
  border-radius: 5px;
  font-weight: bold;
}

.sub-btn{
  padding: 19px 39px ; 
  color: #5B5959;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  border-width: 1px 1px 3px;
  background: #A3D249;
  font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
}


/*-------------
About page
--------*/
p{
  font-size: 65%;
  text-align: center;
}
.IT_p{
 max-height:   400px;
 width: 100%;

}

.c_color{
  
  background-size: 100% 400px;
  background-color:  #5B5959;
  
  background-position: top ;


}
.about_content_one{
     
    max-height: 400px;
    max-width: 100%;
    padding: 40px 7% 40px 7%;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: white;
    border-style: solid;
    border-color: green;
}

.col{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

}


/*-------------
Media querries
--------*/


@media (min-width: 770px) {
  .about{
  
  
  

  background-color:  #5B5959;
  
    
  background-position: left center ;

  
 
}

.IT_p{
 min-height: 425px;
 max-width: 50%;
float: left;
}

.about_content_one{
     float: right;
    width: 50%;
    min-height: 425px;
    padding-top: 15px;
    
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: white;
    border-style: solid;
    border-color: green;
}

.off_two{
  width: 40%;
  height: 500px;
  background-color: #F1F1F1;
}
.off_one, .off_three{
  width: 30%;
  height: 500px;
  background-color: #F1F1F1;
}

.col{
  float: left;
  border-style: solid;
  border-color: green;

}





}